.nav-container{
    text-align: center;
    text-decoration: none; 
    position: relative;
    display: inline-block;
    width: 100%;
    top: 0;
    padding: 8px; 
    padding-top: 15px;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 1px rgba(171, 171, 238, 0.747);
}
.nav-container a:hover{
  color: rgba(99, 99, 236, 0.747);
  text-shadow: 1px 1px rgba(164, 164, 202, 0.884);
}
.headerButton{
    font-size: x-large;
    font-weight: bolder;
}