body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Anton', sans-serif;
}

code {
  font-family: 'Anton', sans-serif;
}
